//主色
$color-primary: #52caff;
//次色
$color-primary-lighter: #a8e4ff;
//信息色
$color-info: #ffe4aa;
//主背景色
$bg-color: #f4f5f4;
//边框色
$border-color: #dfdfdf;
//字体大小
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: .875rem;
$font-size-12: .75rem;
$font-size-10: .625rem;
//字体颜色
$font-color: #434343;
//checkbox大小
$checkbox-size: 1rem;
//表单元素高度
$form-control-height: 2rem;

$form-control-height-thin: 1.875rem;

//顶部导航栏高度
$navbar-height: 2.8215rem;

//侧边栏宽度
$sidebar-width: 11.25rem;
//侧边栏高度
$sidebar-height: 3.125rem;

$border-radius: 0.25rem;

$margin-padding-10: 0.625rem;

//主页的z-index顺序

