
@import "../../styles/variables.scss";

$select-width: 8rem;
$select-height: 1.5rem;
.sem-select{
  width: $select-width;
  height: $select-height;
  position: relative;
  background-color: transparent;
  border: 1px solid #52CAFF;
  box-sizing: border-box;
  border-radius: .25rem;
  color: #FFF;
  font-weight: normal;
  font-size: $font-size-12;
  display: flex;
  .select-content{
    width: 80%;
    height: $select-height;
    line-height: $select-height;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .select-img{
    width: 20%;
    height: $select-height;
    position: relative;
    -webkit-transition: transform .2s ease;
    transition: transform .2s ease;
    >img{
      width: .625rem;
      height: .625rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -.3125rem 0 0 -.3125rem;

    }
  }
  .select-drop-down{
    background-color: #1e1e1e;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    border: solid 1px $color-primary;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: .25rem;
    z-index: 2;
    .select-arrow {
      $size: 4px;
      position: absolute;
      top: -($size + 1px);
      border-bottom: solid $size #52CAFF;
      border-left: solid $size transparent;
      border-right: solid $size transparent;
      &:before {
        content: '';
        left: -$size;
        position: absolute;
        top: 1px;
        border-bottom: solid $size #52CAFF;
        border-left: solid $size transparent;
        border-right: solid $size transparent;
      }
      z-index: 2;
      left: 4px;
    }
    .select-list {
      max-height: 200px;
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      margin: 2px 0;
      .select-list-item {
        padding: 6px 8px;
        cursor: pointer;
        &.active {
          color: #fff;
        }
        &:hover {
          background-color: #0f0f0f;
        }
        &.active {
          background-color: $color-primary;
        }
      }
      .empty {
        padding: 6px 10px;
        color: #ccc;
      }
    }
  }
  &.open {
    .select-img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

  }
}


