
.login{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #52CAFF;
  .locale{
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: #FFF;
    .lang-select{
      display: inline-block;
    }
  }

}
