@import '../../styles/variables';
.v-sem-modal{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.3);
  transition: opacity .3s ease;
  opacity: 1;
  &.show{
    opacity: 1;
    .sem-modal-body {
      transform: translateX(-50%) translateY(-50%) scale(1);
      opacity: 1;
    }
  }
  .sem-modal-body{
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 40%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
    transform: translateX(-50%) translateY(-50%) scale(1.2);
    transition: transform .3s ease;
    border-radius: $border-radius $border-radius 0 0;
    box-sizing: border-box;
    border: 1px solid $border-color;
    .sem-modal-header{
      color: #fff;
      height: 2.5rem;
      line-height: 2.5rem;
      background-color: #52caff;
      border-radius: $border-radius $border-radius 0 0;
      padding: 0 2.25rem;
      position: relative;
      text-align: center;
      >img{
        position: absolute;
        top: .5rem;
        right: .5rem;
        height: 1.25rem;
        width: 1.25rem;
        cursor: pointer;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        transition: transform .5s;
        &:hover {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
    .sem-modal-content{
      width: 100%;
      min-height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sem-modal-footer{
      width: 100%;
      min-height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .modal-button{
        margin-right: 1rem;
        &.right{
          margin-left: 1rem;
        }
      }
    }
  }
}
